{{article.word_count}}
textarea.title-input.clear-input(ng-model="article.title" placeholder="Title" ng-change="silentSave()")
h3.text-right.text-muted(ng-show="!video && !image")
  i.icon.ion-ios-videocam(ng-click="video ? video = false : video = false")
  i.icon.ion-image(ng-click="image ? image = false : image = false")
p(ng-show="image")
  input.clear-input(type='text' ng-model="article.img_url" placeholder="Image URL" ng-change="silentSave()")
p(ng-show="video")
  input.clear-input(type='text' ng-model="article.video_url" placeholder="Video URL" ng-change="silentSave()")
p.clear-input.article-body(ng-model="article.body" medium-editor options='{{mediumOptions}}' ng-change="silentSave()")