a(href="/campaigns/{{article.campaign}}/articles/{{article._id}}")
  h4(ng-bind-html="article.title")
  img.image-responsive(ng-src="{{article.img_url}}", style="width:100%;")
  p {{article.topic}}
  p {{article.user}}
  hr