.container
  .row
    .col-sm-2.col-md-3
      {{campaign.title}}
    .col-sm-8.col-md-6
      legend New Article
      form(ng-submit="createArticle()")
        .form-group
          label Title
          input.form-control(type='text', ng-model="article.title")
        .form-group
          label Location
          input.form-control(type='text', ng-model="article.location")
        .form-group
          label Image Url
          input.form-control(type='text', ng-model="article.img_url")
        .form-group
          label Video Url
          input.form-control(type='text', ng-model="article.video_url")
        .form-group
          label Body
          textarea.form-control(ng-model="article.body")
        .text-right
          .btn-toolbar
            button.btn.btn-primary(type="submit") Publish
            button.btn.btn-default(type="submit") Save for Later
