.container
  .row
    .text-center
      h3 {{campaign.title}}
      p.text-muted 3 Articles | $110 per Article
    .col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3
      form(ng-submit="createArticle()")
        h1(ng-model="article.title" medium-editor options='{{titleOptions}}')
        p(ng-model="article.body" medium-editor options='{{bodyOptions}}')
        .form-group
          label Location
          input.form-control(type='text', ng-model="article.location")
        .form-group
          label Image Url
          input.form-control(type='text', ng-model="article.img_url")
        .form-group
          label Video Url
          input.form-control(type='text', ng-model="article.video_url")
        .text-right
          .btn-toolbar
            button.btn.btn-primary(type="submit") Publish
            button.btn.btn-default(type="submit") Save for Later
