.container
  .row
    .col-xs-12.text-right.text-muted
      i.icon.ion-checkmark-circled(ng-hide="saving")
      i.icon.ion-load-d(ng-show="saving")
      span(ng-show="saving")  saving
      span(ng-hide="saving")  saved
    .col-sm-8.col-lg-6.col-sm-offset-2.col-lg-offset-3
      .text-center(ng-show='article.campaign')
        h3 {{article.campaign.title}}
        p.text-muted 3 Articles | $110 per Article
      .text-center(ng-hide='article.campaign')
        select.form-control(ng-model="article.campaign" convert-to-number)
          option(ng-repeat="campaign in user.campaigns" value="campaign") {{campaign.title}}
      div(ng-include="'templates/_article-form.jade'")