a(href="/campaigns/{{article.campaign_id}}/articles/{{article._id}}")
  h4 {{article.title}}
  img.image-responsive(ng-src="http://placehold.it/240x180", style="width:100%;")
  p {{article.topic}}
  //- p {{article.body}}
  hr