.col-sm-4
  ng-include(src="'templates/article.jade'", ng-repeat="article in articles")
.col-sm-4
  ng-include(src="'templates/article.jade'", ng-repeat="article in articles")
.col-sm-4
  ng-include(src="'templates/article.jade'", ng-repeat="article in articles")
    
