.col-sm-8.col-sm-offset-2
  .clearfix
    h1.pull-left Campaigns
    .pull-right
      br
      a(href="/campaigns/new").btn.btn-primary New Campaign
  hr
  div(ng-repeat="campaign in user.campaigns")
    .row
      .col-xs-3
        a(href="/campaigns/{{campaign._id}}")
          img.img-responsive(ng-src="{{campaign.img_url}}")
      .col-xs-9
        a(href="/campaigns/{{campaign._id}}")
          h2 {{campaign.title}}
        .text-muted {{campaign.articles.length}} Articles | 30 Backers | 110% of $300 Backed ($330)
        br
        .btn-toolbar.text-right
          a.btn.btn-sm.btn-default(href="/campaigns/edit/{{campaign._id}}") Edit
          a.btn.btn-sm.btn-primary(href="/campaigns/{{campaign._id}}/articles/new") New Article
    br
    .media(ng-repeat="article in campaign.articles | orderBy: 'published_at':true")
      .media-body
        a(ng-href="/campaigns/{{campaign._id}}/articles{{!article.published_at ? '/edit' : ''}}/{{article._id}}") 
          h4.media-heading {{article.title}}
          div(ng-hide="article.published_at")
            .text-muted Last edited #[span(am-time-ago="article.updated_at")] - 200 words so far
            .text-danger Draft
          div(ng-show="article.published_at")
            .text-muted Published #[span(am-time-ago="article.published_at")] on #[span(am-time-ago="article.published_at")]

      .media-right
        a(href="/campaigns/{{campaign._id}}/articles/{{article._id}}") 
          img.media-object(ng-src="{{article.img_url}}", alt='...', width='90px')  
    hr


