.container
  .row
    .col-sm-6
      h1.dashboard {{state}}
    .col-sm-6
      ul.nav.nav-pills.navbar-right
        li(role='presentation')
          a(ui-sref="me.drafts") 
            span.badge {{user.drafts.length}}
            |  Drafts
        li(role='presentation')
          a(ui-sref="me.campaigns") 
            span.badge {{user.campaigns.length}}
            |  Campaigns
  div(ui-view="")