.container
  .row
    .pull-right
      ul.nav.nav-pills
        li(role='presentation')
          a(ui-sref="me.drafts") 
            span.badge {{(user.articles | filter:{ published_at: '!null' }).length}}
            |  Drafts
        li(role='presentation')
          a(ui-sref="me.campaigns") 
            span.badge {{user.campaigns.length}}
            |  Campaigns
  div(ui-view="")