.col-sm-4
  h5 {{user.name}}
  a(href="/{{user.handle}}") Public Profile
  p 
    a(href="/profile/edit") Update Profile
.col-sm-8
  .pull-right
    a(href="/campaigns/new").btn.btn-primary.btn-sm New Campaign
  h4 Campaigns
  h5 Live
  ng-include(src="'templates/_campaigns-table.jade'" ng-repeat="campaign in user.campaigns | filter:{published_at: '!null'}")
  h5 Saved
  ng-include(src="'templates/_campaigns-table.jade'" ng-repeat="campaign in user.campaigns | filter:{published_at: 'null'}")

