.container
  .row
    .col-sm-4.col-md-3.col-md-offset-1.col-lg-offset-0
      h2 {{user.name}}
      nav
        ul.nav.lead
          li 
            h4 Campaigns
          li
            a(href="/profile/edit")
              span.badge 6 
              |  Followed 
          li
            a(href="/profile/edit") 
              span.badge 6 
              |  Backed
          li
            a(href="/profile/edit") 
              span.badge 6 
              |  Created  

          li 
          li 
            h4 Activity & Messages
          li
            a(href="/profile/edit") Activity
          li
            a(href="/profile/edit") Messages
            h4 Profile
          li
            a(href="/@{{user.handle}}") Public Profile
          li
            a(href="/profile/edit") Edit Profile

    .col-sm-8
      .clearfix
        h1.pull-left Your Campaigns
        .pull-right
          br
          a(href="/campaigns/new").btn.btn-lg.btn-primary New Campaign
      h3 Live
      ng-include(src="'templates/_dashboard-campaign.jade'" ng-repeat="campaign in user.campaigns | filter:{published_at: '!null'}")
      h3 Saved
      ng-include(src="'templates/_dashboard-campaign.jade'" ng-repeat="campaign in user.campaigns | filter:{published_at: 'null'}")

