
.col-sm-4.col-lg-3.col-lg-offset-1
  img.img-responsive.img-rounded(ng-src="{{user.img_url}}")
  h3 {{user.name}}
  p.lead {{user.handle}}
  hr
  ul
    li
      i.icon.ion-home 
      | {{user.location}}
    li
      i.icon.ion-home 
      | {{user.location}}
    li
      i.icon.ion-clock 
      | Joined on {{user.created_at}}
  hr
  .row
    .col-xs-4
      h1 500
      small.text-muted Followers
    .col-xs-4
      h1 500
      small.text-muted Backers
    .col-xs-4
      h1 500
      small.text-muted Sharers
.col-sm-8.col-lg-7
  h1 {{user.name}}'s Campaigns
  div(ng-repeat="campaign in user.campaigns | filter:{ published_at: 'true' }")
    a(href="/campaigns/{{campaign._id}}")
      h2 {{campaign.title}}
    ng-include(src="'templates/_article.jade'", ng-repeat="article in campaign.articles")
  h4 Published Articles



