.row
  .col-sm-4
    h5{{user.name}}
    a(href="/{{user.handle}}") Public Profile
    p 
      a(href="/profile/edit") Update Profile
  .col-sm-8
    h4 Campaigns
    .pull-right
      a(href="/campaigns/new").btn.btn-primary.btn-sm New Campaign
    h5 Live
    div(ng-repeat="campaign in user.campaigns | filter:{published_at: '!null'}")
      a(href="/campaigns/{{campaign._id}}") {{campaign.title}}
    h5 Saved
    div(ng-repeat="campaign in user.campaigns | filter:{published_at: 'null'}")
      a(href="/campaigns/{{campaign._id}}") {{campaign.title}}
    hr
    h4 Articles
    h5 Published
    div(ng-repeat="article in user.articles | filter:{published_at: '!null'}")
      a(href="/articles/{{article._id}}") {{article.title}}
    h5 Saved
    div(ng-repeat="article in user.articles | filter:{published_at: 'null'}")
      a(href="/articles/{{article._id}}") {{article.title}}

