.container
  .row
    .pull-right
      ul.nav.nav-pills
        li 
          a(href="/profile/edit") Activity
        li
          a(href="/profile/edit") Inbox
        li(role='presentation')
          a(href="/profile/edit")
            span.badge 6 
            |  Followed 
        li(role='presentation')
          a(href="/profile/edit") 
            span.badge 6
            |  Backed
        li(role='presentation')
          a(href="/profile/edit") 
            span.badge {{(user.campaigns | filter:{ published_at: '!null' }).length}}
            |  Draft 
        li(role='presentation')
          a(href="/profile/edit") 
            span.badge {{(user.campaigns | filter:{ published_at: 'null' }).length}}
            |  Published

    .col-sm-8.col-sm-offset-2
      .clearfix
        h1.pull-left Draft Campaigns
        .pull-right
          br
          a(href="/campaigns/new").btn.btn-lg.btn-primary New Campaign
      ng-include(src="'templates/_dashboard-campaign.jade'" ng-repeat="campaign in user.campaigns | filter:{ published_at: '!null' }")
      ng-include(src="'templates/_dashboard-campaign.jade'" ng-repeat="campaign in user.campaigns | filter:{ published_at: 'null' }")

